/*
    Main entry point for MeiliDu typography.
    This file will agregate other files.
*/

@import "variables"

@import "fontScaling"
@import "underline"

html, body
    background-color: backgroundColor
    color: textColor
    font-family: fontsSans

h1, h2, h3, h4 ,h5
    color: highlightColor

a
    text-decoration: none
    link-underline(backgroundColor, mainColor, greyishBlue)