/*
    This file containes all interesting variables.

    If you want to change something about how MeiliDu looks
    this is where you want to do it.
*/

// The size every font starts with.
baseFontSize = 1.1em

/*
    This should be a meaningful ratio.
    It is mainly used to scale headers.
    Reference: http://www.modularscale.com/
*/
fontRatio = 1.25

fontsSans = "Noto Sans", sans-serif
fontsSerif = "Noto Serif", serif

/*
    Colors
*/

mainColor = #0BA6D7

// Gerys build after
// https://www.smashingmagazine.com/2016/04/web-developer-guide-color/#creating-harmonious-grays
greyishBlue = #2a4a54
textColor = #33474d
highlightColor = #3c4447
headerColor = #f9fafa
backgroundColor = #f9fafa